<nav class="navbar navbar-dark sticky-top bg-dark fixed-top">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">BTN property</a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= link_to "log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </nav>